html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #E6E6E6; }

* {
  outline: none; }

header {
  background-color: #3a3636;
  height: 50px; }

button, select {
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  outline: none; }

input:-webkit-autofill {
  background-color: #FAFFBD;
  background-image: none;
  color: #000; }

.item-chosen {
  position: absolute;
  left: 30px;
  bottom: 9px; }

.class-plan {
  color: #fff;
  cursor: unset !important;
  background-color: #759ec3; }

.class-running {
  color: #fff;
  cursor: unset !important;
  background-color: #c37575; }

.class-done {
  color: #fff;
  cursor: unset !important;
  background-color: #76c375; }

#long-term-task .task-desc {
  color: #a7a3a3;
  margin: 5px 10px; }
#long-term-task h3 {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis; }
#long-term-task ol {
  padding: 0 0 5px 10px;
  margin: 0; }
#long-term-task .long-term-task_div {
  border-radius: 4px;
  padding: 5px; }
  #long-term-task .long-term-task_div .long-term-task-edit {
    margin: 0 10px; }
#long-term-task .long-term-task_div:hover {
  background-color: #efefef; }
#long-term-task li {
  list-style-type: none;
  margin: 0 0 10px 0; }
  #long-term-task li .step-task_span {
    vertical-align: top;
    background-color: #ccc;
    color: #fff;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 4px; }
  #long-term-task li .step-task_desc {
    margin: 0 10px;
    display: inline-block; }
    #long-term-task li .step-task_desc .step-task-desc_div {
      color: #7b7878;
      margin: 0; }
#long-term-task li:nth-child(1) .step-task_span {
  background-color: #c37575; }

.main {
  display: flex;
  min-height: 100%; }
  .main .side-bar {
    background-color: #363d4d;
    width: 200px;
    color: #fff; }
    .main .side-bar a {
      color: #fff; }
    .main .side-bar .inline-level .span-title {
      padding: 10px 0 10px 30px;
      background-color: #474c5e; }
    .main .side-bar .inline-level .span-content ul {
      margin: 0;
      padding: 0; }
    .main .side-bar .inline-level .span-content li {
      position: relative;
      list-style-type: none;
      padding: 5px 0 5px 50px; }
    .main .side-bar .inline-level .span-content li:hover {
      background-color: #5f87888c;
      cursor: pointer; }
  .main .main-content {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #fff; }
    .main .main-content form {
      margin: 0 0 0 50px; }
      .main .main-content form div {
        margin: 10px 0; }
        .main .main-content form div input {
          padding: 2px 0 2px 5px; }
      .main .main-content form input {
        font-size: 15px; }
      .main .main-content form input[type=button] {
        padding: 2px;
        border-radius: 4px; }
      .main .main-content form textarea {
        min-width: 70%;
        margin: 5px 0;
        color: #313030;
        padding: 5px 10px;
        line-height: 1.5;
        font-size: 15px;
        min-height: 200px; }
    .main .main-content .runnging-task-block .runnging-task-item {
      margin: 0 0 0 5px; }
      .main .main-content .runnging-task-block .runnging-task-item hr {
        margin: 0; }
      .main .main-content .runnging-task-block .runnging-task-item .stausSpan:hover {
        cursor: pointer; }
      .main .main-content .runnging-task-block .runnging-task-item .priority-star {
        color: #d65412; }
      .main .main-content .runnging-task-block .runnging-task-item table {
        border-collapse: collapse;
        width: 100%;
        text-align: left; }
        .main .main-content .runnging-task-block .runnging-task-item table tr {
          border-bottom: 1px solid #ccc; }
          .main .main-content .runnging-task-block .runnging-task-item table tr td, .main .main-content .runnging-task-block .runnging-task-item table tr th {
            padding: 10px 0 5px 0; }
            .main .main-content .runnging-task-block .runnging-task-item table tr td .detele-task, .main .main-content .runnging-task-block .runnging-task-item table tr th .detele-task {
              background-color: #ff3737;
              color: #fff; }

/*# sourceMappingURL=page.css.map */
