html, body{

	margin: 0;
	height: 100%;
	padding: 0;
	font-family: “Microsoft YaHei”;

}

header{
	background-color: #109b9c;
	height: 50px;
}


.main{
	display: flex;
	height: 100%;
	.side-bar{
		background-color: #33999a7d;
	    width: 200px;
	    color: #fff;
	    height: 100%;

	    .inline-level{

	    	.span-title{
	    		padding: 10px 0 10px 30px;
	    		background-color: #689596;

	    	}
	    	.span-content{
	    		ul{
	    			margin: 0;
	    			padding: 0;
	    		}
	    		li{
	    			list-style-type: none;
	    			padding: 5px 0 5px 50px;
	    		}
	    		li:hover{
	    			background-color: #5f87888c;
	    			cursor: pointer;

	    		}
	    	}
	    }
	}

	.main-content{
		flex: auto;
		margin: 20px;
	    padding: 20px;
	    background-color: #caeff1;

	    form{
	    	margin: 0 0 0 50px;
	    	div{
	    		margin: 5px 0;
	    		input{
    				padding: 2px 0 2px 5px;
	    		}
	    	}
	    }
	    .runnging-task-block{
	    	.runnging-task-item{
	    		margin: 0 0 0 5px;

	    		hr{
	    			margin: 0;
	    		}
	    		.stausSpan{

	    		}
	    		.stausSpan:hover{
	    			cursor: pointer;

	    		}
	    		.currentStatus{
	    			color: #fff;
    				background-color: #c37575;
    				cursor: unset !important;
	    		}
	    		table{
	    			border-collapse: collapse;
	    			width: 100%;
	    			text-align: left;

	    			tr{
	    				border-bottom: 1px solid #ccc;

	    				td,th{
	    					padding: 10px 0 5px 0;
	    				}

	    			}


	    		}


	    	}

	    }
	}

}